.col-md-2 {
    margin: 8px;
    position: relative;
    overflow: hidden;
}

.col-md-2 img {
    max-width: 100%;
    border-radius: 10px;


}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem
}

p {
    font-weight: bold!important;
}

.movie-over {
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    margin: 0 1rem;
    max-height: 100%;
    transform: translateY(100%);
    transition: 0.3s ease-in;
    /*opacity: 0;*/
}

.col-md-2:hover .movie-over {
    /*opacity: 1;*/
    transform: translateY(0%);
}


