.col-md-2, .col-xs-6 {
    padding: 16px;
    position: relative;
    overflow: hidden;
}

#heading{
    color: white!important;
}

.col-md-2 img {
    max-width: 100%;
    border-radius: 10px;
}


.col-xs-6 img {
    max-width: 100%;
    border-radius: 10px;
}


.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: cornsilk;

}

p {
    font-weight: bold!important;
}

.col-md-2:hover .movie-over {
    /*opacity: 1;*/
    transform: translateY(0%);
}


